	<section class="about" id="about">
		<div>
			<h2>A propos</h2>
			<p>Je m’appelle HAMZA, développeur web passionné. J’ai acquis des compétences en HTML,<br> CSS et JavaScript lors de ma formation. Mon objectif :<br> créer des interfaces intuitives et réactives pour des expériences en ligne exceptionnelles ! </p>
		</div>


		<div class="icones-ctn">
    <img src="/image/css.png" alt="Image 1">
    <img src="/image/sql.png" alt="Image 2">
    <img src="/image/php..png" alt="Image 3">
    <img src="/image/html...png" alt="Image 4">
    <img src="/image/nodejs.png" alt="Image 5">
    <img src="/image/wordpress.png" alt="Image 6">
    <img src="/image/jsicon.png" alt="Image 7">
    <img src="/image/mongoDbicone.png" alt="Image 8">
     </div>
	</section>


	
	