


<section class="competences" id="compétence">

	<h2>Compétences</h2>
	<div class="competences-container">
		<div class="competence">
			<h3>Front-end  🌐 </h3>
				<br>
			game skillfully crafted with HTML, CSS, and JavaScript. Unleash your vocabulary prowess.
																		
		</div>
		<div class="competence">
			<h3>Back-end</h3>
            <p>
				<br>
			 a game skillfully crafted with HTML, CSS, and JavaScript. Unleash your vocabulary prowess.																																														
																																																		
			</p>
		</div>
		<div class="competence">
        <h3>Api et web design</h3>
			<p>
				<br>
				 a game skillfully crafted with HTML, CSS, and JavaScript. Unleash your vocabulary prowess.
																																																																																															
			</p>
		</div>
	</div>
</section>
