	<section class="home" id="home">
    <img src="../image/pic-dev.jpg" alt="" id="bgimg">
		<div class="home-ctn" id="home">
			<div class="soleil-ctn">
				<div class="soleil"></div>
			</div>
			<div>
				<h1>CHEBLI HAMZA</h1>
				<p>
					web developer
				</p>
			</div>
		</div>

	</section>